:root {
  --clr-bg: #23395b;
  --clr-blue: #335383;
  --clr-grid: #0000001e;
  --clr-red: #eb5c47;
  --clr-white: #fff;

  --board-width: 700px;
  --board-height: 700px;
  --grid-width: 500px;
  --grid-height: 500px;

  --ff-primary: "Mochiy Pop One", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  background-color: var(--clr-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  min-height: 100vh;
}

.menu {
  background-color: var(--clr-blue);
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 700px;
  border-radius: 30px;
}

.menu-color {
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  color: var(--clr-white);
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.menu-color-text {
  margin-bottom: 1rem;
}

.menu-color-picker {
  cursor: pointer;
  background-color: #23395b;
  border: none;
  border-radius: 5px;
  padding: .8rem 1rem;
  height: 3.5rem;
  width: 100%;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--clr-red);
  width: var(--board-width);
  height: var(--board-height);
  border-radius: 30px;
}

.title {
  font-family: var(--ff-primary);
  font-size: 2rem;
  color: var(--clr-white);
}

.grid {
  background-color: var(--clr-white);
  width: var(--grid-width);
  height: var(--grid-height);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.grid-item {
  flex: 1 0 calc(100% / var(--grid-size));
  height: calc(100% / var(--grid-size));
  border: 1px solid var(--clr-grid);
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: var(--grid-width);
}

.btn {
  cursor: pointer;
  font-size: 16px;
  font-family: var(--ff-primary);
  color: var(--clr-red);
  background-color: var(--clr-white);
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
}